@model List<Book>
<h1>Books</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>@book.Genre</td>
                <td><a asp-controller="Books" asp-action="Details" asp-route-id="@book.BookId">Details</a></td>
            </tr>
        }
    </tbody>
</table>